*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    background-image: url(../images/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
}


