/*fuentes*/
@font-face {
    font-family: 'light';
    src: url(../fonts/MyriadPro-Light.otf);
}

@font-face {
    font-family: 'regular';
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

/*general*/
* {
    margin: 0;
    padding: 0;
}

html, body {

    justify-content: center;
    align-content: center;

    background-color: #fff;
    color: black;

}

