/*fuentes*/
@font-face {
    font-family: 'light';
    src: url(../fonts/MyriadPro-Light.otf);
}

@font-face {
    font-family: 'regular';
    src: url(../fonts/MYRIADPRO-REGULAR.OTF);
}

/*general*/
* {
    margin: 0;
    padding: 0;
}

html, body {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;

    background-color: #fff;
    color: black;

    width: 100vw;

}

header, nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    text-decoration: none;
    gap: 2.5em
}

.karioPanel {
    width: 5em;
    height: 5em;
}
