* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: fuenteProyecto;
    src: url(../fonts/MyriadPro-Light.otf);
}

button:hover {
    /*al acercar el cursor a un botón, cambia*/
    cursor: pointer;
}

body {
    font-family: fuenteProyecto;
    background-color: black;
}

.contenedor {
    /*Contenedor de los elementos*/
    background-image: url(../images/fondo1.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 100vh;
}

.kario {
    /*contiene el login*/
    background-image: url(../images/kairo.png);
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    opacity: 1;
    animation: movimiento 4s;
}

@keyframes movimiento {

    /*animación para que aparezca y desaparezca el logo como se solicitó*/
    30% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }
}

.inicioSesion {
    /* Login*/
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    background-color: white;
    border-radius: 67px;
    width: 50vi;
    height: 40vi;
    opacity: 0;
    animation: inicioSesion 3s;
    animation-fill-mode: forwards;
}

@keyframes inicioSesion {

    /* Animación para que aparezca el contenedor del login*/
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.karioLog {
    margin-top: 2vi;
}

.bienvenida {
    font-size: 2.5em;
    font-weight: 800;
    text-align: center;
}

.datos {
    font-size: 1.25em;
    font-weight: 400;
}

.user {
    height: 1.56em;
    font-size: 1.56em;
    width: 30vi;
}

.userBox {
    margin-top: -2vi;
    column-gap: 2vi;
    width: 30vi;
    height: 2.5vi;
}

.userBox input {
    width: 30vi;
    height: 2.5vi;
    border-radius: 1vi;
}

.contrasena {
    height: 1.56em;
    font-size: 1.56em;
    width: 30vi;
}

.contrasenaBox {
    margin: -2vi;
    column-gap: 2vi;
    width: 30vi;
    height: 2.5vi;
}

.contrasenaBox input {
    width: 30vi;
    height: 2.5vi;
    border-radius: 1vi;
}

.btnLogin button {
    border-radius: 2vi;
    margin-top: 1vi;
    width: 15vi;
    height: 3vi;
    font-size: 1.5em;
    background-color: orange;
    color: white;
    border: 0;
}

.text p {
    font-size: 1em;
    font-weight: 100;
}

/* clases page 2... se reutilizarán algunas de las anteriores*/

.contenedorBienvenido {
    background-image: url(../images/kairo.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    align-items: center;
    justify-content: space-around;

}

.bienvenidoPanel {
    background-color: white;
    justify-items: center;
    width: 40vw;
    height: 50vh;
    border-radius: 67px;
    opacity: 1;
    grid-row: 1;
    grid-column: 1;
    animation: panel 6s;
    animation-fill-mode: forwards;

}

.iconProfile img {
    width: 8vi;
    height: 7vi;
    border-radius: 50%;
    margin: 2vi;
}

@keyframes anel {
    0% {
        opacity: 1;
    }

    25% {
        opacity: 1;
    }

    50% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.panelPrincipal {
    grid-column: 1;
    grid-row: 1;
    opacity: 1;
    background-color: white;
    width: 100vw;
    height: 100vh;
    animation: panelPrincipal steps(1) 6s;
    animation-delay: 1s;
    animation-fill-mode: forwards;
}

@keyframes anelPrincipal {
    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.menu {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;
    align-items: end;
    justify-items: center;
    align-content: center;
    font-size: 1.5em;
    width: 100vw;
    height:10vh;
}

.linea {
    grid-column: 1/8;
    height: 1vi;
    width: 100vw;
    align-content: end;
}

.linea hr {
    margin-top: 2.5vi;
}

.botones img {
    margin-bottom: -0.4vi;
}

.botonesLogo {
    background-image: url(../images/kairo.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 4vi;
    width: 3vi;
    margin-top: 2vi;
}
.profile{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 2vi;
    height: 2vi;
    align-items: center;
    align-content: center;
}
.indicadores{
    display: grid;
   margin-top: 4vi;
   justify-items: center;
   row-gap: 2vi;
}
.titulo{
    font-size: 1.5em;
}
.parrafoPrincipal{
    font-size: 1.4em;
}
